
    
<!-- reset password page -->
<div id="resetPassword" class="bg-bg py-2">
<div class="parent-of-form bg-third w-[95%] mx-auto h-full p-4 rounded-2xl">

<div  class="form border-2 border-bg rounded-2xl md:p-4 p-2 flex md:justify-between md:flex-row flex-col  md:items-center">



<!-- form -->

<div class="reset-form md:w-1/2  md:p-4 p-2 mb-5">
<form class="max-w-lg mx-auto">
  <div class="mb-5">
    <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email : </label>
    <input type="email" id="email" class="bg-neutral-secondary-medium border border-bg text-heading text-sm rounded-base focus:ring-main focus:border-mainring-main block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Please Enter Your Email...." required />
  </div>

    <div class="mb-5">
    <label for="Password" class="block mb-2.5 text-sm font-medium text-heading">Old Password : </label>
    <input type="Password" id="Password" class="bg-neutral-secondary-medium border border-bg text-heading text-sm rounded-base focus:ring-main focus:border-mainring-main block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="**********" required />
  </div>

   <div class="mb-5">
    <label for="Password" class="block mb-2.5 text-sm font-medium text-heading">New Password : </label>
    <input type="Password" id="Password" class="bg-neutral-secondary-medium border border-bg text-heading text-sm rounded-base focus:ring-main focus:border-mainring-main block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="**********" required />
  </div>

   <div class="mb-5">
    <label for="Password" class="block mb-2.5 text-sm font-medium text-heading">Confirm New Password : </label>
    <input type="Password" id="Password" class="bg-neutral-secondary-medium border border-bg text-heading text-sm rounded-base focus:ring-main focus:border-mainring-main block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="**********" required />
  </div>
<a routerLink="/login" class="text-main font-semibold text-right block">Go To Login ?</a>
  <button class="block w-fit text-mainFont bg-second text-white px-6 py-2 mx-auto mt-5 rounded-2xl cursor-pointer" type="button">Reset Your Password</button>
  </form>

  



</div>



<!-- image -->

<div class=" image-of-login lg:w-[50%] flex justify-start lg:mb-0 mb-5 image-of-reset image-of-login md:w-[40%]  -order-1 md:order-0">
<img src="../images/image_of_reset_password.png" class=" md:w-full h-full rounded-2xl object-cover w-full" alt="">
</div>





</div>



</div>








</div>



