<ul class="flex flex-col py-6  items-start  gap-4">
<li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/home-2-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard'"
            alt=""
          /><img
            src="../images/home-2-not-active.png"
            [class.!inline]="_router.url !== '/dashboard'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Dashboard</span
          >
        </li>
   


           <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/my-attendance"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/calendar-outline-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/my-attendance'"
            alt=""
          /><img
            src="../images/calendar-outline.png"
            [class.!inline]="_router.url !== '/dashboard/my-attendance'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >My Attendance</span
          >
        </li>
    
    
   
           <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/my-requests"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/question-square-outline-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/my-requests'"
            alt=""
          /><img
            src="../images/question-square-outline.png"
            [class.!inline]="_router.url !== '/dashboard/my-requests'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >My Requests</span
          >
        </li>



         <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/events"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/stars-line-outline-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/events'"
            alt=""
          /><img
            src="../images/stars-line-outline.png"
            [class.!inline]="_router.url !== '/dashboard/events'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Events</span
          >
        </li>

         <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/my-payslips"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/document-text-outline-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/my-payslips'"
            alt=""
          /><img
            src="../images/document-text-outline.png"
            [class.!inline]="_router.url !== '/dashboard/my-payslips'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >My Payslips</span
          >
        </li>


          <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/team-management"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/users-group-rounded-outline-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/team-management'"
            alt=""
          /><img
            src="../images/users-group-rounded-outline.png"
            [class.!inline]="_router.url !== '/dashboard/team-management'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Team Managment</span
          >
        </li>



           <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/leave&attendance"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/calendar-outline-active.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/leave&attendance'"
            alt=""
          /><img
            src="../images/calendar-outline.png"
            [class.!inline]="_router.url !== '/dashboard/leave&attendance'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Leave & Attendance</span
          >
        </li>



         <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/recruitment"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/user-check-outline-actived.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/recruitment'"
            alt=""
          /><img
            src="../images/user-check-outline.png"
            [class.!inline]="_router.url !== '/dashboard/recruitment'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Recruitment</span
          >
        </li>

           <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/payroll"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/dollar-outline-actived.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/payroll'"
            alt=""
          /><img
            src="../images/dollar-outline.png"
            [class.!inline]="_router.url !== '/dashboard/payroll'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Payroll</span
          >
        </li>


             <li
          class="cursor-pointer flex items-center py-2 px-4 gap-3 text-white w-full rounded-xl"
          routerLink="/dashboard/employees"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-white !text-main"
        >
          <img
            src="../images/users-group-two-rounded-outline-actived.png"
            class="hidden"
            [class.inline]="_router.url == '/dashboard/employees'"
            alt=""
          /><img
            src="../images/users-group-two-rounded-outline.png"
            [class.!inline]="_router.url !== '/dashboard/employees'"
            class="hidden"
            alt=""
          /><span class="text-[18px]" 
            >Employees</span
          >
        </li>





      </ul>