<div>
  <!-- head of my payslips -->
  <div
    class="flex py-6 flex-col lg:flex-row gap-3 lg:gap-0 items-center justify-between"
  >
    <p
      class="text-[20px] lg:text-[30px] font-bold lg:leading-12.75 text-center lg:text-left"
    >
      Your payment summary is available.<br />
      Thanks for your contributions!
    </p>

    <div class="size-71.75 rounded-[50%] border border-main p-2">
      <div
        class="bg-main size-full rounded-[50%] flex items-center justify-between flex-col py-20.25"
      >
        <p class="text-[26px] font-bold text-white leading-9">Next Pay Date</p>
        <p class="text-[22px] font-bold text-white leading-9.75">05-12-2025</p>
      </div>
    </div>
  </div>
  <!-- end of head of my payslips -->

  <!-- start table of payslips -->
  <div class="rounded-[8px] flex flex-col p-4 border border-[#9C97A2]">
    <div class="flex justify-end">
      <input
        placeholder="Search...."
        type="search"
        class="rounded-[16px] border border-[#9C97A2]text-[#9C97A2] px-1 lg:w-1/2 w-full block xl:w-64.75 focus:border-main focus:ring-0 ring:border-0 focus:outline-0"
      />
    </div>

    <div class="py-4 flex flex-col">
      <div class="px-1 py-4 border-b border-[#D0CBD5] flex-wrap content-center flex items-center justify-between">
        <div>
          <p class="text-fourth text-[18px] font-medium leading-6.75">
            Oct 2025
          </p>
          <p class="text-[12px] leading-9">Net: EGP 18,300</p>
        </div>
        <div class="middle">
          <p class="text-[#827C88] text-[12px]">05-11-2025</p>
        </div>
        <div class="right-side flex items-center gap-3 md:gap-6">
          <button
            class="rounded-3xl px-4 flex items-center bg-[#0F0D11] h-8 w-25.25 justify-between text-white cursor-pointer"
          >
            View<img src="./images/Eye.svg" />
          </button>
          <button
            class="text-white h-8 w-8 rounded-3xl flex items-center justify-center cursor-pointer bg-[#0F0D11]"
          >
            <img src="./images/Download.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="px-1 py-4 border-b border-[#D0CBD5] flex-wrap content-center flex items-center justify-between">
        <div>
          <p class="text-fourth text-[18px] font-medium leading-6.75">
            Oct 2025
          </p>
          <p class="text-[12px] leading-9">Net: EGP 18,300</p>
        </div>
        <div class="middle">
          <p class="text-[#827C88] text-[12px]">05-11-2025</p>
        </div>
        <div class="right-side flex items-center gap-3 md:gap-6">
          <button
            class="rounded-3xl px-4 flex items-center bg-[#0F0D11] h-8 w-25.25 justify-between text-white cursor-pointer"
          >
            View<img src="./images/Eye.svg" />
          </button>
          <button
            class="text-white h-8 w-8 rounded-3xl flex items-center justify-center cursor-pointer bg-[#0F0D11]"
          >
            <img src="./images/Download.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="px-1 py-4 border-b border-[#D0CBD5] flex-wrap content-center flex items-center justify-between">
        <div>
          <p class="text-fourth text-[18px] font-medium leading-6.75">
            Oct 2025
          </p>
          <p class="text-[12px] leading-9">Net: EGP 18,300</p>
        </div>
        <div class="middle">
          <p class="text-[#827C88] text-[12px]">05-11-2025</p>
        </div>
        <div class="right-side flex items-center gap-3 md:gap-6">
          <button
            class="rounded-3xl px-4 flex items-center bg-[#0F0D11] h-8 w-25.25 justify-between text-white cursor-pointer"
          >
            View<img src="./images/Eye.svg" />
          </button>
          <button
            class="text-white h-8 w-8 rounded-3xl flex items-center justify-center cursor-pointer bg-[#0F0D11]"
          >
            <img src="./images/Download.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="px-1 py-4 border-b border-[#D0CBD5] flex-wrap content-center flex items-center justify-between">
        <div>
          <p class="text-fourth text-[18px] font-medium leading-6.75">
            Oct 2025
          </p>
          <p class="text-[12px] leading-9">Net: EGP 18,300</p>
        </div>
        <div class="middle">
          <p class="text-[#827C88] text-[12px]">05-11-2025</p>
        </div>
        <div class="right-side flex items-center gap-3 md:gap-6">
          <button
            class="rounded-3xl px-4 flex items-center bg-[#0F0D11] h-8 w-25.25 justify-between text-white cursor-pointer"
          >
            View<img src="./images/Eye.svg" />
          </button>
          <button
            class="text-white h-8 w-8 rounded-3xl flex items-center justify-center cursor-pointer bg-[#0F0D11]"
          >
            <img src="./images/Download.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="px-1 py-4 border-b border-[#D0CBD5] flex-wrap content-center flex items-center justify-between">
        <div>
          <p class="text-fourth text-[18px] font-medium leading-6.75">
            Oct 2025
          </p>
          <p class="text-[12px] leading-9">Net: EGP 18,300</p>
        </div>
        <div class="middle">
          <p class="text-[#827C88] text-[12px]">05-11-2025</p>
        </div>
        <div class="right-side flex items-center gap-3 md:gap-6">
          <button
            class="rounded-3xl px-4 flex items-center bg-[#0F0D11] h-8 w-25.25 justify-between text-white cursor-pointer"
          >
            View<img src="./images/Eye.svg" />
          </button>
          <button
            class="text-white h-8 w-8 rounded-3xl flex items-center justify-center cursor-pointer bg-[#0F0D11]"
          >
            <img src="./images/Download.svg" alt="" />
          </button>
        </div>
      </div>
       <div class="flex justify-end p-2 gap-4">
        <button
          class="flex items-center justify-center size-10 rounded bg-second cursor-pointer"
        >
          <i class="text-[20px] fa-solid fa-angle-left text-white"></i>
        </button>
        <button
          class="flex items-center justify-center size-10 rounded bg-second cursor-pointer"
        >
          <i class="text-[20px] fa-solid fa-angle-right text-white"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- end table of payslips -->
</div>
