<div  class="flex flex-col items-center gap-4 ">
<!-- notification card -->
<div class="flex bg-bg gap-5 flex-col xl:flex-row items-center justify-between lg:rounded-[100px] rounded-xl p-3 xl:w-[95%] transition-all duration-500 hover:-translate-y-1 cursor-pointer hover:bg-main hover:text-white">
<div class="notification-image lg:w-[18%] self-center  flex flex-col justify-center">
<img src="./images/myPhoto.jpg" class="rounded-[50%] size-20 object-cover" alt="">
</div>
<div class="notification-content">
<h2 class="text-five font-bold mb-3">Mohamed Abdelaziem</h2>
<p class="w-full">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi cum animi repellendus veniam natus placeat necessitatibus, error optio veritatis maxime?</p>
</div>
<div>
<i class="fa-solid fa-xmark self-end text-second text-[20px] cursor-pointer hover:text-red-500 duration-500 transition-all " title="Do You Want Clear This Notificatin ?"></i>
</div>
</div>
<!-- end notification card -->


</div>